@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --animate-blink: 1s blink infinite;
}

html,
body {
  @apply bg-gradient-to-br from-[#dbeafe] to-[#e9d5ff] text-gray-700;
}

@keyframes blink {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: #364153;
  }
}
